@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  position: relative;
  visibility: visible;
  color: #3d3d3d;
  background-color: #ffffff;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p:last-child {
  margin-bottom: 0;
}
p {
  font-size: 14px;
  color: #3d3d3d;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}

.dropdown {
  perspective: 1500px;
}

.sticky-top .logo-small {
  height: 40px;
}

@media screen and (max-width: 321px) {
  .logo-small {
    height: 24px;
  }
}

@media screen and (max-width: 376px) {
  .logo-small {
    height: 35px;
  }
}

.sticky-top .hidden-toggle {
  display: none;
}
.sticky-top .hidden-dropdown {
  display: none;
}

.position-unset {
  position: unset;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 3px rgb(68 68 68 / 11%);
  box-shadow: 0 0 0 3px rgb(68 68 68 / 11%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.open::before  {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.search-container .select-option .list {
  height: 400px;
  overflow: auto;
}

.form-search {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.search-container {
  height: 100%;
}

.top-cat {
  border-right: 1px solid #cccccc;
  background-color: #fff;
  border-radius: 30px 0 0 30px;
  display: flex;
  align-items: center;
  width: 22%;
  justify-content: center;
  position: relative;
  height: 44px;
}

.nice-select::before {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  top: 50%;
  right: 5%;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.test {
  display: none;
}

@media screen and (max-width: 991px) {
  .test {
    display: block;
  }
}
